<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Annotation</title>
    <style>
        #canvas-container {
            position: relative;
            display: inline-block;
        }
        #control-panel {
            margin-top: 20px;
        }
    </style>
</head>
<body>

<div id="canvas-container">
    <img id="sourceImage" src="/static/ice_cream.png" alt="Source Image">
    <canvas id="myCanvas" style="position: absolute; top: 0; left: 0; z-index: 1;"></canvas>
</div>

<div id="control-panel">
    <button type="button" onclick="saveMask()">Save Mask</button>
</div>

<script>
    let x = 0;
    let y = 0;
    let isDrawing = false;
    
    let img = document.getElementById('sourceImage');
    let canvas = document.getElementById('myCanvas');
    let ctx = canvas.getContext('2d');

    img.onload = function() {
        canvas.width = img.width;
        canvas.height = img.height;
    };

    canvas.addEventListener('mousedown', function(event) {
        x = event.pageX - canvas.offsetLeft;
        y = event.pageY - canvas.offsetTop; 
        isDrawing = true;
    });

    canvas.addEventListener('mousemove', function(event) {
        if (isDrawing === true) {
            drawLine(ctx, x, y, event.pageX - canvas.offsetLeft, event.pageY - canvas.offsetTop);
            x = event.pageX - canvas.offsetLeft;
            y = event.pageY - canvas.offsetTop;
        }
    });

    window.addEventListener('mouseup', function(event) {
        if (isDrawing === true) {
            x = 0;
            y = 0;
            isDrawing = false;
        }
    });

    function drawLine(ctx, x1, y1, x2, y2) {
        ctx.beginPath();
        ctx.strokeStyle = 'black';
        ctx.lineWidth = 10;
        ctx.moveTo(x1, y1);
        ctx.lineTo(x2, y2);
        ctx.stroke();
        ctx.closePath();
    };

    function saveMask() {
        const canvasData = canvas.toDataURL();
        fetch('/save_mask', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                'mask_data': canvasData
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                alert("Mask saved successfully!");
            } else {
                alert("Error saving mask!");
            }
        });
    };
</script>

</body>
</html>
